<div>
    <%= form_with url: orders_path(format: :js), remote: true, local: false, class: "dropzone", id: "my-awesome-dropzone" do |form| %>
    <% end %>
</div>

<script>  
  Dropzone.options.myAwesomeDropzone = {
    paramName: "file", // The name that will be used to transfer the file
    dictDefaultMessage: "Click or drag to upload files",
    dictFileTooBig: "Very large file. Limit: 20mb",
    maxFilesize: 20, // MB
    success: response => eval(response.xhr.response)
  };
</script>